<!-- BEGIN Scripts -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery-3.6.0.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/bootstrap/js/bootstrap.bundle.js"></script>
<!-- MDB -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/mdb-ui-kit/js/mdb.min.js"></script>
<!-- Cookie Consent -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/cookieconsent.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/cookieconsent-init.js"></script>
<!-- Update active-->
<script>
  $(function ($) {
    let url = window.location.href;
    $('li a').each(function () {
      if (this.href === url.replace(/\/+$/, '') || this.href === url) {
        $(this).closest('li').addClass('active');
      }
    });
  });
</script>
<!-- End Scripts -->